In [ ]:
# varibalesin python:-
--------------------

In [ ]:
# var :- it is a container to store values  ---> comments


# comment

In [1]:
# short cut --> shift + enter

x = 4

In [2]:
print(x)

4

In [4]:
y = 5

In [5]:
x+y

9

In [ ]:
# rules for declaring of varibales in python:-

# 1.no spaces are allowed in the names of vars

In [6]:
full name ="M narasimhulu"

SyntaxError: invalid syntax (<ipython-input-6-3dff4a879364>, line 1)

In [7]:
full_name = "m narasimhulu"

In [8]:
print(full_name)

m narasimhulu

In [ ]:
# 2. no specila chars are allowed in the names of vars except underscore

In [9]:
$name = 'sam'

SyntaxError: invalid syntax (<ipython-input-9-8a42bbdb14dd>, line 1)

In [10]:
name = 'sam'

In [11]:
name

'sam'

In [ ]:
# 3. variable name should not be start with number

In [12]:
1var = 'python'

SyntaxError: invalid syntax (<ipython-input-12-5837fdbb3059>, line 1)

In [13]:
var1 = 'python'

In [14]:
print(var1)

python

In [ ]:
# Introduction to DataTypes in python:-
# -------------------------------------

1. string -----> str
2. list -------> list
3. tuple ------> tuple
4. dictionary --> dict
5. sets --------> set

In [ ]:
# understanding of strings:-
---------------------------

# what is a string:-
strng is series of chars

# how to declare a string in python
# 3 --> ways
'',"",""""""

'python'
"python"
"""python"""

# properties of strings:-
----------------------

# string is immutable DataType:-

# immutable :- no change of alter/ modification after it get declared

In [17]:
name = 'sam'

In [18]:
name = 'rvai'

In [19]:
name_double = "siva"

In [ ]:
# this is sam's notebook

In [20]:
print('this is sam's noetbook)

SyntaxError: invalid syntax (<ipython-input-20-13a290c81310>, line 1)

In [21]:
print("this is sam's notebook")

this is sam's notebook

In [22]:
name1 = 'm narasimhulu'

In [23]:
print(name1)

m narasimhulu

In [ ]:
# M Narasimhulu

# req:- i want the name1 as M Narasimhulu

# title()

In [24]:
print(name1.title())

M Narasimhulu

In [ ]:
# I want all letters as capital letters

# upper()

In [25]:
print(name1.upper())

M NARASIMHULU

In [26]:
caps = 'ABC'

In [ ]:
# want lower case :-

# lower()

In [27]:
caps.lower()

'abc'

In [ ]:
# f srings:-
-----------

# fstrings -----> formetted strings

In [28]:
first_name = 'Narasimhulu'
last_name = 'M'

In [29]:
# full_name

full_name = f"{first_name} {last_name}"   # fstrings

In [30]:
print(full_name)

Narasimhulu M

In [38]:
print(f"welcome back {full_name}")

welcome back Narasimhulu M

In [37]:
name = 'M narasimhulu'

In [39]:
name

'M narasimhulu'