In [ ]:
#tupple------->

In [1]:
clg_strgt=(60,60,120,120,30)

In [2]:
print(clg_strgt)

(60, 60, 120, 120, 30)

In [5]:
for clg in clg_strgt:
    print(clg)

60
60
120
120
30

In [6]:
clg_strgt[0]**clg_strgt[1]

48873677980689257489322752273774603865660850176000000000000000000000000000000000000000000000000000000000000

In [16]:
print(clg_strgt[:3])

(60, 60, 120)

In [13]:
clg_strgt.index(30)

4

In [18]:
52**123

11706074051183821100265101996214389159061353663588471870033225394447673121347107625237194597359537651870789036192363887031643621598214989054205156318674449663557579033534280320080957188956040340016957261199966208

In [19]:
len(clg_strgt)

5

In [21]:
clg_strgt.count(120)

2

In [44]:
name=('sivaram','prudvi','raj','lovely','goal','room')

In [45]:
print(name)

('sivaram', 'prudvi', 'raj', 'lovely', 'goal', 'room')

In [64]:
for names in name:
    if names=='sivaram' :
        print(names.upper())
    else :
        print(names.title())

SIVARAM
Prudvi
Raj
Lovely
Goal
Room

In [80]:
for i in range(1,11):
    print('2*',i,'=',i*2)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20